div.hextra-cards {
  grid-template-columns: repeat(auto-fill, minmax(calc((100% - 1rem * var(--hextra-cards-grid-cols)) / var(--hextra-cards-grid-cols)), 1fr));
}

.implementation {
  position: relative;
  h3 {
    margin-top: 4rem;
    padding-left: 45px;
  }
  h2 + & h3 {
    margin-top: 2rem;
  }
  div.language-icon {
    width: 30px;
    display: inline-block;

    position: absolute;
    top: 2px;
  }
}

.hextra-card-icon, .language-icon {
  svg {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
  }
}

main > div:has(a[href="/operations/"]) {
  cursor: default;
  pointer-events: none;
}
