div.hextra-cards {
  grid-template-columns: repeat(auto-fill, minmax(calc((100% - 1rem * var(--hextra-cards-grid-cols)) / var(--hextra-cards-grid-cols)), 1fr));
}

.running-the-program {
  padding: 0 1rem;
}

.language-console {
  .gp {
    font-weight: bold;
  }
}

h4 {
  font-size: 1rem !important;
  margin-bottom: -1rem !important;
}

hr {
  margin-top: 2rem;
  margin-bottom: .5rem;
  &:last-of-type {
    display: none;
  }
}

.implementation {
  position: relative;
  h3 {
    margin-top: 4rem;
    padding-left: 45px;
  }
  h2 + & h3 {
    margin-top: 2rem;
  }
  div.language-icon {
    width: 30px;
    display: inline-block;

    position: absolute;
    top: 2px;
  }
}

.hextra-card-icon, .language-icon {
  svg {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
  }
}

a.disable-link {
  cursor: default;
}

a.disable-expand-collapse {
  cursor: default;
  span {
    cursor: default;
    pointer-events: none;
  }
  &:hover {
    background: none !important;
  }
}

.running-the-program .icon {
  vertical-align: middle;
  padding-right: 0.2rem;
  padding-bottom: 0.2rem;

  svg {
    color: darkgray;
    height: 1.4rem;
    stroke-width: 1.8;
  }
}
