pyproject_hash_file=".cache/poetry-env-path-$(md5 -q pyproject.toml)"

if [[ -f "$pyproject_hash_file" ]]; then
  VIRTUAL_ENV="$(cat "$pyproject_hash_file")"
else
  VIRTUAL_ENV=$(poetry env info --path 2>/dev/null ; true)

  if [[ -z $VIRTUAL_ENV || ! -d $VIRTUAL_ENV ]]; then
    log_status "No virtual environment exists. Executing \`poetry install\` to create one."
    poetry install
    VIRTUAL_ENV=$(poetry env info --path)
  fi

  mkdir -p .cache
  echo "$VIRTUAL_ENV" > "$pyproject_hash_file"
fi

PATH_add "$VIRTUAL_ENV/bin"
export POETRY_ACTIVE=1
export VIRTUAL_ENV
