<link rel="disable-expand-collapse" href="/operations/">
<link rel="disable-link" href="/operations/">
{{ range $.Site.Data.test_cases }}
  <link rel="disable-link" href="/operations/{{ .group_slug }}/">
{{ end }}

<script>
  const href = (el) => el.attributes['href'].value

  function openLiParent(a) {
    const liParent = a.closest('li') // the parent `li` element
    if (liParent) liParent.classList.add('open') // this causes the sidebar to collapse/expand
  }

  function toggleLiParent(a) {
    const liParent = a.closest('li') // the parent `li` element
    if (liParent) liParent.classList.toggle('open') // this causes the sidebar to collapse/expand
  }

  const groupUrls =
    [...document.querySelectorAll('link[rel="disable-link"]')]
      .map(link => href(link));

  const disableExpandCollapseUrls =
    [...document.querySelectorAll('link[rel="disable-expand-collapse"]')]
      .map(link => href(link));

  // disable sidebar group links from taking you to another page
  document.addEventListener('DOMContentLoaded', function() {
    [...document.querySelectorAll('a[href]')] // only get `a` tags that have an `href` attribute
      .forEach(a => {
        if (disableExpandCollapseUrls.includes(href(a))) {
          a.classList.add('disable-expand-collapse') // add a class so we can style it
          openLiParent(a)

          a.addEventListener('click', e => { e.preventDefault() }) // disabled clicking
        } else if (groupUrls.includes(href(a))) {
          a.classList.add('disable-link') // add a class so we can style it

          a.addEventListener('click', e => {
            if (e.target !== a) return // clicking the > symbol is ok
            e.preventDefault() // don't follow the link
            toggleLiParent(a)
          })
        }
    })
  }, false)
</script>
