{{ range .Site.Data.test_cases }}
  {{ $.AddPage (dict
      "kind" "page"
      "path" .script_name
      "title" .script_name
      "type" "docs"
      "content" (dict
        "value" (partial "operation.md" .)
      )
    )
  }}
{{ end }}
